html,
body{
    height: 100%;
}
/*
* wrapper for all page (like body)
*/
.wrapper{
    display: table;
		margin: 0 auto;
    min-height: 100%;
}
/*
* page-container - inside wrapper without #paginator
* #paginator is separate from page-container
*/
.page-container{
    display: table-row;
    height: 100%;
 }

table{
	border: 2px solid black;
	border-collapse: collapse;
	margin-bottom: 25px;
}
body{
	width: 1250px;
	margin: 0 auto;
}
td, th{
	padding: 10px;
	border: 1px solid black;
	text-align: center;
}
th{
	cursor: pointer;
	background-color: #d1d1ff;
}
tr:nth-child(even){
	background-color: #e5f3f1;
}
#button{
	height: 40px;
	width: 125px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
	cursor: pointer;
	background: #F2973B;
	color: white;
	font-size: 15px;
	border-radius: 10px;
	vertical-align: middle;
	text-align: center;
}
#container{
	width: 800px;
	margin: 0 auto;
}
tbody tr:hover{
	background-color: lightgrey;
}

#paginator{
	margin: 0 auto;
	margin-bottom: 15px;
}
#paginator span{
	display: inline-block;
	border: 1px solid #e1337a;
	text-align: center;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}
/*prevent select for span*/
#paginator span {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                               not supported by any browser */
}
.active-page{
	background-color: lightgrey;
}
.previous:active,
.next:active{
	background-color: #e1337a;
}