html,
body{
  height: 100%;
}
body{
	margin: 0;
	padding: 0;
}
/*
* wrapper for all page (like body)
*/
.wrapper{
  display: table;
	margin: 0 auto;
  min-height: 100%;
}
/*
* page-container - inside wrapper without #paginator
* #paginator is separate from page-container
*/
.page-container{
  display: table-row;
  height: 100%;
 }
.container{
	margin: 0 auto;
	max-width: 940px;
}

.filter-container{
 	width: 100%;
 	font-size: 0;
 	margin-bottom: 15px;
 	margin-top: 15px;
 	height: 35px;
 	vertical-align: top;
 }
.search{
 	width: 76%;
 	border-radius: 5px;
 	border: 1px solid grey;
 	padding: 5px;
 	font-size: 17px;
 }
.btn{
	background-color: lightgrey;
	display: inline-block;
	box-sizing: border-box;
	width: 10%;
	height: 34px;
	padding: 5px;
	margin-left: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #7055e7;
	vertical-align: inherit;
}
.btn:active{
	border: 2px solid grey;
	border-style: inset;
	padding: 3px;
	padding-left: 13px;
	padding-right: 13px;
}

table{
	width: 100%;
	border: 2px solid black;
	border-collapse: collapse;
	margin-bottom: 25px;
}
.page-container{
	width: 1250px;
	margin: 0 auto;
}
td, th{
	padding: 10px;
	border: 1px solid black;
	text-align: center;
}
th{
	cursor: pointer;
	background-color: #d1d1ff;
}
tr:nth-child(even){
	background-color: #e5f3f1;
}
#container{
	width: 800px;
}
tbody tr:hover{
	background-color: lightgrey;
}

#paginator{
	margin: 0 auto;
	margin-bottom: 15px;
}
#paginator span{
	display: inline-block;
	border: 1px solid #e1337a;
	text-align: center;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}
/*prevent select for span*/
#paginator span {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                               not supported by any browser */
}
.active-page{
	background-color: lightgrey;
}
.previous:active,
.next:active{
	background-color: #e1337a;
}